
.orders-page{
    margin-top: 20px;
    
    .orders-wrapper{
        display: flex;
        align-items: flex-start;
        gap: 10px;
    }


.order-results article {
    width: 100%;
    max-width: 100vw;
    display: flex;
    margin-bottom: 10px;

    @include min-width($small_size){
        gap: 2px;
    }


    .img-wrapper{
        min-width: 90px;
        height: 100%;
        display: flex;
        align-self: center;
        justify-content: center;

        img{
      
            @include min-max-width(0,$small_size){
                max-width: 90px;
                max-height: 130px;
            }
        }
    }

    .title{
        font-weight: 500;
        margin-bottom: 7px;
        color: $gray-600;

        white-space: nowrap;
        overflow: hidden;
        max-width: 250px;

        @include min-width($small_size){    
            color:#333;
        }
    }

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .right{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
    
            .ratings-else{
                display: flex;
                flex-wrap: wrap;
                margin-bottom:7px;
                min-width: 250px;

                > *:first-child{
                    margin-right: 6px;
                    
                
                    .fill{
                        color: #FF9017;
                    }
                    .empty{
                        color: $gray_300;
                    }
                }

                > *:nth-child(2){
                    color: #FF9017;
                    font-weight: 400;
                    margin-right: 27px;
                }

                > *:nth-child(3){
                    color: $gray_500;
                    font-weight: 500;
                    margin-right: 8px;
                    margin-bottom: 9px;

                    @include min-width(400px){
                        margin-right: 24px;
                    }
                }

                .shipping{
                    color:#00B517;
                    font-weight: 500;

                    @include min-max-width(0,$small_size){
                        min-width:100px;
                        margin-right: 20px;
                    }

                }

                .mobile-details{
                    color: #0D6EFD;
                    font-weight: 600;
                    margin-right: 20px;

                    @include min-width($small_size){
                        display: none;
                    }
            
                }
            }
        }


        /// left
        /// 
        
        
    }

    .item-info{
        display: flex;
        align-items: center;
        gap: 7px;
        color: $gray_600;
        margin-bottom: 8px;

        h4{
            font-size: 1rem;
            font-weight: 500;
        }

        p{
            color: #111;
        }

        &.arival-lg{
            display: none;
            @include min-width($x-large_size){
                display: flex;
            }
            }
            &.arival-sm{
            @include min-width($x-large_size){
                display: none;
            }
        }
        
        &.total{
            p{
                color: #F44336;
                font-weight: 700;
            }
        }
    }

}

.order-results{
    flex: 1;
    padding: 5px;

    article{
        border-radius: 6px;
        box-shadow: 0 0 3px 0 #ccc;
        background: #fff;
        margin-bottom: 20px;

        .img-wrapper,.product__info{
            background: #fff;
        }

        .product__info{
            padding: 23px 5px 31px;
            
            @include min-width($small_size){
                padding: 23px 10px 31px;
            }

            .rest-desc{
                display: none;
            }
        }
    }
}


//// 
/// 


.may-like{
    width: 280px;
    background-color: #fff;
    display: none;

    @include min-width($large_size){
        display: block;
    }

    .right{
        padding:20px 22px 15px 16px;
        border: 2px solid $gray_300;
        border-radius: 6px;
        background-color: #fff;

    
        h2{
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: 14px;
        }
    
        .products-wrapper{
            a{
                display: flex;
                align-items: center;
                gap: 11px;
                margin-bottom: 1rem;
    
                .img-wrapper{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 80px;
                    height: 80px;
                    padding: 6px 7px;
                    border: 1px solid $gray_300;
                    border-radius: 6px;
                    background-color: #fff;
                }
    
                h3{
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 24px;
                    margin-bottom: 5px;
                }
    
                .limts{
                    color: $gray_500;
                }
            }
        }
    }
}        

}
