/// media query variables
/// 

$mobile_size : 0px;
$small_size  : 570px;
$medium_size : 767px;
$large_size : 1024px;
$x-large_size : 1290px;
$double-x-large_size : 1400px;

$mobile : 'mobile';
$small  : 'small';
$medium  : 'medium';
$large : 'large';
$x-large :'x-large';
$double-x-large : '2x-large';


/// colors
/// 
/// 
$gray-600 : #505050;
$gray-500 : #8b96a5;
$gray-400:#bdc4cd;
$gray-350:#ccc;
$gray-300:#dee2e7;
$gray-200:#eff2f4;
$gray-100:#f7fafc;

$primary:#0D6EFD;
$primary-gradient:#0772ff;
$green:#00b517;
$orange:#ff9017;
$red:#fa3434;

$cyan_200:#E5F1FF;






